body {

}

#submenu {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    background: #dadada;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submenu ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 10px 2px 10px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#submenu ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#submenu ul li:hover {
    background: #555;
    color: #fff;
}
#submenu ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
#submenu ul li ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}
#submenu ul li ul li:hover { background: #666; }
#submenu ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

#submenu li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: block;
    text-decoration: none;
    color: #3A3A3A;
    border: 1px solid transparent;
    font-size: 14px;
}

#submenu li span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 14px;
    width: 250px;
}

#submenu li select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: block;
    text-decoration: none;
    color: #3a3a3a;
    border: 1px solid transparent;
    font-size: 14px;
}

#submenu li span.warning {
    color: #000000;
    font-size: 12px;
}